.container {
    margin: 1% 14%;
    padding: 2% 8% 4% 8%;
    border: 1px solid LightGrey;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}
