html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
.article {
  margin: 1% 14%;
  padding: 2% 8% 4% 8%;
  border: 1px solid LightGrey;
}

.art-footer {
  position: fixed;
  bottom:20px;
  right:40px;
  display: flex;
  justify-content: flex-end;
  
}
